services:
  - type: web
    name: human-right-rmas
    env: node
    plan: free
    buildCommand: npm install
    startCommand: node index.js
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 3000
      - key: MONGO_URI
        sync: false
      - key: SESSION_SECRET
        sync: false
      - key: SUPERADMIN_PASS
        sync: false
      - key: EMAIL_USER
        sync: false
      - key: EMAIL_PASS
        sync: false
      - key: APP_URL
        sync: false
      - key: PUPPETEER_EXECUTABLE_PATH
        value: /usr/bin/chromium-browser
